---
---
<div class="d-flex flex-column align-items-center justify-content-center small">
  <div class="pb-3">
    <p class="text-center text-white border-bottom border-light">Aptitudes</p>
    <ul class="list-alt text-white pe-2">
      <li>Responsabilidad</li>
      <li>Trabajo en equipo</li>
      <li>Adaptación</li>
      <li>Comunicación</li>
    </ul>
  </div>
</div>
