---

---

<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-chevron">
        <li class="mb-3">
          <p>Relacionada con las nuevas tecnologías e Internet.</p>
          <ul class="list-alt">
            <li>
              <p class="mb-2 lh-sm">
                <strong>Desarrollador Web Frontend en React</strong> en Bewsam Inversa
              </p>
              <p class="fst-italic small lh-sm">
                Curso avanzado de 300 horas lectivas con prácticas y proyecto
                final. Entendiendo el ciclo de vida de los componentes React,
                hooks, custom hooks y librerías más utilizadas (Formik, Yup
                YupRouter dom).
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Certificado Profesional Frontend developer</strong> de Meta
                en Coursera (inglés)
              </p>
              <p class="fst-italic small lh-sm">
                Superados 4 de los 9 módulos: fundamentos del frontend, Git,
                React basic y Advanced React.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Desarrollador Web Frontend en Angular</strong> en Bewsam
                Inversa
              </p>
              <p class="fst-italic small lh-sm">
                Curso avanzado de 300 horas lectivas con prácticas y proyecto
                final, Uso del framework con typescript, interceptores, guardas,
                consumo de API-REST, reutilización y optimización
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Curso avanzado de Astro</strong> en Bewsam
                Inversa
              </p>
              <p class="fst-italic small lh-sm">
                Curso avanzado del framework Astro para la generación de sitios web estáticos con SSG.
                Uso de layouts, componentes, colecciones y rutas dinámicas con la generación de un portal web como 
                práctica final.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Certificado Profesional de Ciberseguridad</strong> de Google
                en Coursera
              </p>
              <p class="fst-italic small lh-sm">
                Certificado obenido compuesto de 8 módulos introducéndo y
                conociendo la ciberseguridad, laas auditorías de seguridad,
                Lunux, SQL y Python como herramientas utilizadas en el trabajo
                de la ciberseguridad.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Relacionada con acciones formativas</p>
          <ul class="list-alt">
            <li>
              <p class="mb-2 lh-sm">
                <strong>Formador de Formadores</strong> en IFES
              </p>
              <p class="fst-italic small lh-sm">
                Curso de 60 horas impartido por el Instituto de Formación y
                Estudios Sociales.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Formador Presencial</strong> en IFES
              </p>
              <p class="fst-italic small lh-sm">
                Curso de 10 horas impartido por el Instituto de Formación y
                Estudios Sociales.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
