---
---

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-chevron">
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>HTML5 / CSS3</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                      Experto en <span class="text-decoration-underline">maquetación de páginas web</span> 
                      y <span class="text-decoration-underline">posicionamiento orgánico</span>, utilizando frameworks como 
                      Bootstrap y avalando resultado en <span class="text-decoration-underline">Core Web Vitals</span>
                    </p>
                </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>PHP</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                      Instalación y desarrollo de plugins para aplicaciones Open Source como <span class="text-decoration-underline">Wordpress</span> y 
                      <span class="text-decoration-underline">Woocommerce</span>. Uso de frameworks como 
                      <span class="text-decoration-underline">Symphony</span> o <span class="text-decoration-underline">Yii</span> 
                      para aplicaciones a medida.
                    </p>
                </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Javascript</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                     Como parte del desarrollo de aplicaciones web de froma <span class="text-decoration-underline">nativa</span> o con 
                     <span class="text-decoration-underline">jQuery</span> utilizando <span class="text-decoration-underline">APIs</span>, 
                     ajax, añadiendo funcionalidades o validaciones.
                    </p>
                  </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>React</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                     Creación de componentes en <span class="text-decoration-underline">aplicaciones reactivas</span> con uso de APIs y librerías complementarias para 
                     desarrollo de funcionalidades específicas. Cursos de Meta "Basic" y "Advanced" enb Coursera.
                    </p>
                  </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Angular</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                      <span class="text-decoration-underline">Uso del framework</span> para aplicaciones a medida de alto rendimiento con 
                      <span class="text-decoration-underline">typescript</span>,
                      consumo de APIs y requisitos específicos de reutilización de componentes.
                    </p>
                </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Astro</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                      Manejo del <span class="text-decoration-underline">framework Astro</span> para la generación de 
                      <span class="text-decoration-underline">sitios web estáticos basados en contenido</span> con 
                      alto rendimiento y flexibilidad.
                    </p>
                </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Git</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                     Uso de git a <span class="text-decoration-underline">nivel medio</span> como parte idispensable del flujo de trabajo diario en equipo
                     manteniendo un sistema de control de versiones distribuido. Certificado de Meta.
                    </p>
                  </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Linux</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                     Usuario habitual de <span class="text-decoration-underline">Ubuntu</span> debido a la compatibilidad, licencias y versatilidad 
                     del sistema operativo y su asimilación a los diferentes entornos de pre y producción.
                    </p>
                  </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Docker</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                     Conocimiento básico de Docker para <span class="text-decoration-underline">crear entornos</span> 
                     y utilizarlos como entregas de los desarrollos 
                     realizados para otras empresas.
                    </p>
                  </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Gimp / Inkscape</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                     Conocimientos avanzados de Gimp y medios de Inkscape (vectorial), herramientas para el tratamiento
                     de imágenes y creación de <span class="text-decoration-underline">banners</span>, 
                     <span class="text-decoration-underline">wireframes</span>, logotipos y otro tipo de elementos.
                    </p>
                  </li>
                <li>
                    <p class="mb-2 lh-sm">
                      <strong>Marketing online</strong> 
                    </p>
                    <p class="fst-italic small lh-sm">
                     Uso habitual de <span class="text-decoration-underline">Google Analytics</span> para obtener los datos de uso de las páginas web en combinación
                     con anuncios de <span class="text-decoration-underline">Google Adwords</span> y creando paneles utilizando las 
                     <span class="text-decoration-underline">fuentes de datos</span>
                     de estas herramientas con <span class="text-decoration-underline">Looker Studio</span>.
                    </p>
                  </li>
            </ul>
        </div>
    </div>
</div>