---

---

<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-chevron">
        <li class="mb-3">
          <p class="mb-2 lh-sm">
            <strong>MasWeb, socio fundador</strong>
            <span class="small text-muted">| 15 años, desde 2009 a 2024</span>
          </p>
          <p class="fst-italic small lh-sm">
            Trabajo <span class="text-decoration-underline">multidisciplinar</span> ayudando en la digitalilzación de empresas 
            de diferentes tamaños, también como freelance para apoyar en proyectos de 
            <span class="text-decoration-underline">desarrollador fullstack</span> en 
            <span class="text-decoration-underline">equipos ya consolidados</span>.
          </p>
          <ul class="list-alt">
            <li>
              <p class="mb-2 lh-sm">
                <strong>Informe Anual de resultados de Repsol</strong>
                <span class="small text-muted">| 5 años, de 2016 a 2020</span>
              </p>
              <p class="fst-italic small lh-sm">
                Desarrollo y publicación de las páginas web de los informes
                anuales de Repsol para la Junta General de Accionista en
                colaboración con la empresa de diseño Estrada Design y como
                parte del equipo de Web Financial Group.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Elecciones de Cataluña y Generales para Vocento</strong>
                <span class="small text-muted">| 2015</span>
              </p>
              <p class="fst-italic small lh-sm">
                Parte del equipo de desarrollo de la aplicación web para mostrar el escrutinio en tiempo real 
                de las elecciones de Cataluña y Generales para el grupo Vocento en sus distintos medios online 
                subcontratado por Vector Software Factory.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Desarrollo fullstack consultora financiera VZ VermöegensZentrum</strong>
                <span class="small text-muted">| 2019</span>
              </p>
              <p class="fst-italic small lh-sm">
                Desarrollo en symphony con uso de APIs y maquetación completa responsive pixel perfect
                para la sección de fondos de la consultora VZ subcontratado por Web Financial Group.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Maquetación para entidades financieras</strong>
                <span class="small text-muted">| 2017</span>
              </p>
              <p class="fst-italic small lh-sm">
                Maquetación pixel perfect y responsive de Bak of Scotland, Halifax, iWeb y Lloyds para 
                incrustar servicios en sus secciones de trading subcontratado por Web Financial Group.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Periódico digital portalparados.es</strong>
                <span class="small text-muted">| 5 años, de 2013 a 2018</span>
              </p>
              <p class="fst-italic small lh-sm">
                Migración del periódico digital de referencia en España de folioepress a Wordpress con 
                multiples desarrollos y servicios a medida para incrementar en más de un 300% los ingresos generados 
                por publicidad online, leads y monetización en otros segmentos.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Lectura de contadores remotos raulmarazuela.es</strong>
                <span class="small text-muted">| 4 años, desde 2021 a 2025</span>
              </p>
              <p class="fst-italic small lh-sm">
                Aplicación web a medida para la visualización y generación de facturación correspondientes 
                a las lecturas de contadores de ACS, gas y calefacción para propietarios.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Demos avanzadas para venta de servicios financieros</strong>
              </p>
              <p class="fst-italic small lh-sm">
                Demos online de portales y microsites dedicados a información financiera como apoyo en la venta de servicios.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Portal Concejalía Ayuntamiento de Segovia</strong>
                <span class="small text-muted">| 4 años, de 2016 a 2020</span>
              </p>
              <p class="fst-italic small lh-sm">
                Portal web de la Concejalía de Tráfico, transportes y movilidad del Ayuntamiento de Segovia 
                con información relevante para los ciudadanos y geolocalización de marquesinas, puntos de carga 
                de vehículos eléctricos, préstamos de bicicletas, paradas de taxi y otros elementos de interés.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Página Web corporativa para Web Financial Group</strong>
              </p>
              <p class="fst-italic small lh-sm">
                Página web corporativa multiidioma para la empresa de tecnología financiera Web Financial Group 
                siguiendo su imagen corporativa.
              </p>
            </li>
            <li>
              <p class="mb-2 lh-sm">
                <strong>Tutor de certificado de profesionalidad</strong>
              </p>
              <p class="fst-italic small lh-sm">
                Tutor y profesor del certificado de profesionalidad del curso de confección y publicación de páginas 
                web de 570 horas de duración en el IFES de Segovia.
              </p>
            </li>
          </ul>
        </li>
        <li class="mb-3">
            <p class="mb-2 lh-sm">
              <strong>Matchmind, consultor de recursos humanos</strong>
              <span class="small text-muted">| 2 años, de 2006 a 2008</span>
            </p>
            <p class="fst-italic small lh-sm">
              Tareas de consultoría e implantación de herramientas informáticas para recursos humanos con 
              tecnología Meta4 PeopleNet en INDITEX, Gestair y Multiasistencia.
            </p>
        </li>
      </ul>
    </div>
  </div>
</div>
