---
name: "Formación"
---

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-chevron">
                <li>
                    <strong>Ingeniería Técnica en Informática de Gestión</strong> por la Universidad de Valladolid.
                </li>
                <li>
                <strong>Inglés</strong>, cursado hasta <strong>3º de la Escuela Oficial de Idiomas</strong>. Equivalente a B1.
                </li>
            </ul>
        </div>
    </div>
</div>