---
import Anime from "@components/Anime.astro";
import Extras from "@components/Extras.astro";
import conf from '@conf';
const {} = Astro.props;
---
<footer id="footer">
  
  <div id="goto" class="position-fixed scroller bottom-0 end-0 mb-2 me-2" data-scroll="900">
    <a class="d-inline-flex justify-content-center align-items-center link rounded-circle fs-4 p-1" href="#main" title="Ir arriba">
        <span class="bi bi-chevron-up fw-bolder em m-1 lh-1" aria-hidden="true"></span>
        <span class="visually-hidden">Ir arriba</span>
    </a>
  </div>
</footer>
